# Python 
__pycache__/
*.pyc
.venv/

# dbt
target/
dbt_packages/

# VS Code
.vscode/

# Docker / Logs / Env
**/.env
*.log

# OS
.DS_Store
Thumbs.db

# Local pipeline output (do NOT commit)
data/

# Spark / temp
*.parquet
*.crc